In [14]:
import pandas as pd

In [15]:
country_data = pd.read_csv("country-data.csv")
country_data.head()

,Unnamed: 0,Country,Land Area(Km2),Capital/Major City,Largest city,Calling Code,Official language,Latitude,Longitude
0,0,Afghanistan,652230.0,Kabul,Kabul,93.0,Pashto,33.939110,67.709953
1,1,Albania,28748.0,Tirana,Tirana,355.0,Albanian,41.153332,20.168331
2,2,Algeria,2381741.0,Algiers,Algiers,213.0,Arabic,28.033886,1.659626
3,3,Andorra,468.0,Andorra la Vella,Andorra la Vella,376.0,Catalan,42.506285,1.521801
4,4,Angola,1246700.0,Luanda,Luanda,244.0,Portuguese,-11.202692,17.873887

In [16]:
#suprimer Unnamed: 0
country_data = country_data.drop(columns=["Unnamed: 0"])
country_data.head()
country_data.to_csv('country-data.csv')

In [17]:
population_data = pd.read_csv("population-data.csv")
population_data.head()

,Unnamed: 0,Country,Population,Urban_population,Birth Rate,Population: Labor force participation (%),Unemployment rate
0,0,Afghanistan,38041754.0,9797273.0,32.49,48.90%,11.12%
1,1,Albania,2854191.0,1747593.0,11.78,55.70%,12.33%
2,2,Algeria,43053054.0,31510100.0,24.28,41.20%,11.70%
3,3,Andorra,77142.0,67873.0,7.20,NaN,NaN
4,4,Angola,31825295.0,21061025.0,40.73,77.50%,6.89%

In [20]:
#Calcul de la densité de population
population_data['Population_Density'] = population_data['Population'] / country_data['Land Area(Km2)']
population_data.head()

,Unnamed: 0,Country,Population,Urban_population,Birth Rate,Population: Labor force participation (%),Unemployment rate,Population_Density
0,0,Afghanistan,38041754.0,9797273.0,32.49,48.90%,11.12%,58.325673
1,1,Albania,2854191.0,1747593.0,11.78,55.70%,12.33%,99.283115
2,2,Algeria,43053054.0,31510100.0,24.28,41.20%,11.70%,18.076295
3,3,Andorra,77142.0,67873.0,7.20,NaN,NaN,164.833333
4,4,Angola,31825295.0,21061025.0,40.73,77.50%,6.89%,25.527629