In [14]:
import pandas as pd

In [15]:
country_data = pd.read_csv("country-data.csv")
country_data.head()

,Unnamed: 0,Country,Land Area(Km2),Capital/Major City,Largest city,Calling Code,Official language,Latitude,Longitude
0,0,Afghanistan,652230.0,Kabul,Kabul,93.0,Pashto,33.939110,67.709953
1,1,Albania,28748.0,Tirana,Tirana,355.0,Albanian,41.153332,20.168331
2,2,Algeria,2381741.0,Algiers,Algiers,213.0,Arabic,28.033886,1.659626
3,3,Andorra,468.0,Andorra la Vella,Andorra la Vella,376.0,Catalan,42.506285,1.521801
4,4,Angola,1246700.0,Luanda,Luanda,244.0,Portuguese,-11.202692,17.873887

In [16]:
#suprimer Unnamed: 0
country_data = country_data.drop(columns=["Unnamed: 0"])
country_data.head()
country_data.to_csv('country-data.csv')